
h1, p, a, .card {
    font-family: "Permian Sans";
}

nav {
    background-color: #0E278B;
    /*border-bottom: solid 1px white;*/
}

.nav-link {
    color: #FFFFFF;
    /*margin: 0px 20px;*/
}

.background_image {
    background-image: linear-gradient(351.37deg, rgba(115, 184, 250, 0.92) 0.53%, rgba(108, 182, 253, 0) 104.63%);
}

.card, .card-header, .card-body {
    background-color: transparent;
    border-color: transparent;
}

.contact {
    padding: 30px;
    background-color: #D0E7FD;
    height: 350px;
    width: 350px;
    border-radius: 10px;
}


footer {
    background-color: #81BFFB;
}
.end-footer {
    background-color: #0E278B;
    height: 10vh;
}

#header {
    background: url(../img/ellipse_1.svg) top -90px center/cover no-repeat; /* ellipse*/
    height: 85vh;
}

.background_image {
    background:
            linear-gradient(351.37deg, rgba(115, 184, 250, 0.92) 0.53%, rgba(108, 182, 253, 0) 104.63%) top left/auto no-repeat,
            url(../img/cross-back.svg) top 7% left 5%/auto auto no-repeat, /* cross */
            url(../img/cross-back.svg) top 30% right 10%/auto auto no-repeat, /* cross */
            url(../img/cross-back.svg) top 40% right 8%/auto auto no-repeat, /* cross */
            url(../img/cross-back.svg) top 82% left 5%/auto auto no-repeat, /* cross */
            url(../img/cross-back.svg) top 87% left 3%/auto auto no-repeat,  /* cross */
            url(../img/cross-back.svg) top 87% left 3%/auto auto no-repeat,  /* cross */
            url(../img/cross-back.svg) top 87% right 8%/auto auto no-repeat, /* cross */
            url(../img/circle-right.svg) top 10% right/auto auto no-repeat, /*circle right*/
            url(../img/circle-left.svg) top 65% left/auto auto no-repeat; /*circle left*/

}


.animation-circle {
    width: 4rem;
    height: 4rem;
    background: #0E278B;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: none;
    color: white;
}

/*https://webcode.tools/generators/css/keyframe-animation*/

.anim {
    animation: myAnim 2s ease 0s 1 normal forwards;
}


@keyframes myAnim {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


/*################################################## Начинается подстройка под размеры */



/*Корректировка верхнего положения руки и надписи Под IpodMini (768) и Ipod Air (820)   768-1024   */
@media (min-width: 768px) and (max-width: 1024px) {
    .background_image {
        background:
            url(../img/circle-right.svg) top 10% right/auto no-repeat, /*circle right*/
            linear-gradient(351.37deg, rgba(115, 184, 250, 0.92) 0.53%, rgba(108, 182, 253, 0) 104.63%) top left/auto no-repeat; /*gradient*/
    }
    #hand {
        left: 55%;
    }

    img[name=header_element_arrows], img[name=header_bottom-circl] {
        visibility: hidden;
    }

    @media (min-width: 415px) and (max-width: 990px) {

        .footer-logo {
            display: none;
        }

        .contact {
            padding: 20px;
            background-color: #D0E7FD;
            height: 300px;
            width: 300px;
            border-radius: 10px;
        }
    }


}



/*Это какие то просто исправление локальные  размер лого уменьшить футер уменьшить*/

/* Iphone XR* widh 414px */

@media (min-width: 376px) and (max-width: 414px) {

    .background_image {
        background: linear-gradient(351.37deg, rgba(115, 184, 250, 0.92) 0.53%, rgba(108, 182, 253, 0) 104.63%) top left/auto no-repeat; /*gradient*/
    }

    img[name=header_element], img[name=header_element_cross],  img[name=header_element_arrows], img[name=header_bottom-circl] {
        visibility: hidden;
    }

    #hand {
        left: 15%;
    }

    .contact {
        padding: 20px;
        background-color: #D0E7FD;
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }

    .footer-qr {
        width: 200px;
    }

    .footer-logo {
        display: none;
    }

}


/* Iphone SE*/
@media (max-width: 375px) {

    .background_image {
        background: linear-gradient(351.37deg, rgba(115, 184, 250, 0.92) 0.53%, rgba(108, 182, 253, 0) 104.63%) top left/auto no-repeat; /*gradient*/
    }

    img[name=header_element] {
        visibility: hidden;
    }
    #hand {
        left: 15%;
    }


    #possibility > div > h1 {
        font-size: 25px;
    }
    .footer-qr {
        width: 200px;
    }

    .footer-logo {
        display: none;
    }


    .contact {
        padding: 20px;
        background-color: #D0E7FD;
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
}





